.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .displayName {
        font-size: 32px;
        font-weight: 700;
        color: rgb(84, 84, 235);
    }
}